# Artifact and input roots
REF_ABR_ARTIFACT_ROOT=artifacts
REF_ABR_DATASET_BASE_PATH=data/datasets
REF_ABR_TRACE_BASE_PATH=data/traces

# Default run settings
REF_ABR_DEFAULT_RUN_NAME=default
REF_ABR_DEFAULT_SEED=0
REF_ABR_DEFAULT_SPLIT=train
REF_ABR_MAX_WORKERS=1
REF_ABR_OVERWRITE_OUTPUTS=false
REF_ABR_LOG_LEVEL=INFO
